<!DOCTYPE html>
<html>
<head>
    <title>Lista de Itens</title>
</head>
<body>
    <nav style="background-color: aquamarine !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <h1>Lista de Itens</h1>
            </span>
        </div>
    </nav>
    
    <div class="container">
        <a href="{% url 'home' %}">Voltar</a>
    </div>

    <div class="container">
        <table style="width: 100%; border-collapse: collapse; border: 1px solid #dddddd;">
            <thead>
                <tr style="background-color: #f2f2f2;">
                    <th style="padding: 8px; border: 1px solid #dddddd;">Nome</th>
                    <th style="padding: 8px; border: 1px solid #dddddd;">Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td style="padding: 8px; border: 1px solid #dddddd;"> <a href="{% url 'item_detail' item.pk %}">{{ item.nome }}</a></td>
                    <td style="padding: 8px; border: 1px solid #dddddd;">{{ item.descricao }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
